<?xml version="1.0" encoding="UTF-8"?>
<plist filecontents="UserDefinedChecks">
  <dict>
    <key>Check Quality of Shell Elements for NISSAN (PAM</key>
    <dict>
      <key>__name__</key>
      <dict>
        <key>__value__</key>
        <string>Check Quality of Shell Elements for NISSAN (PAM</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execFun__</key>
      <dict>
        <key>__value__</key>
        <string>ExecCheckQualityElements</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_elements_ex_fix.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFun__</key>
      <dict>
        <key>__value__</key>
        <string>FixCheckQualityElements</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFunModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_elements_ex_fix.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__deck__</key>
      <dict>
        <key>__value__</key>
        <int>3</int>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__reqTypes__</key>
      <dict>
        <key>__value__</key>
        <string>SHELL,MEMBRANE</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__info__</key>
      <dict>
        <key>__value__</key>
        <string>Checks Quality of Shell Elements</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>LEN 1 - old </key>
      <dict>
        <key>__value__</key>
        <string>4.0-4.5,5.5-6:&lt;=5</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>LEN 2 - old </key>
      <dict>
        <key>__value__</key>
        <string>4.5-4.8,5.2-5.5:&lt;=20</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>LEN 3 - old </key>
      <dict>
        <key>__value__</key>
        <string>4.8-5.2:&gt;=75</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>LEN 4 - old </key>
      <dict>
        <key>__value__</key>
        <string>0-0.1,5.5-100:==0</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>LEN 5 - old </key>
      <dict>
        <key>__value__</key>
        <string>0-4.5,100-101:==0</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>LEN 10 - new </key>
      <dict>
        <key>__value__</key>
        <string>4.8-5.2:&gt;=60</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>LEN 11 - new </key>
      <dict>
        <key>__value__</key>
        <string>4.5-4.8,5.2-5.5:&lt;=30</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>LEN 12 - new </key>
      <dict>
        <key>__value__</key>
        <string>4.0-4.5,5.5-6:&lt;=10</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>LEN 13 - new - glue</key>
      <dict>
        <key>__value__</key>
        <string>4.5-5.5:&gt;=70</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>LEN 14 - new - glue</key>
      <dict>
        <key>__value__</key>
        <string>3.5-4.5,5.5-6:&lt;=30</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
    </dict>
    <key>Check Materials with a checking list (ABA/PAM) - SKODA: 23C</key>
    <dict>
      <key>__name__</key>
      <dict>
        <key>__value__</key>
        <string>Check Materials with a checking list (ABA/PAM) - SKODA: 23C</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execFun__</key>
      <dict>
        <key>__value__</key>
        <string>ExecCheckMaterials</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_materials_ex_fix_skoda_23.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFun__</key>
      <dict>
        <key>__value__</key>
        <string>FixcCheckMaterials</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFunModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_materials_ex_fix_skoda_23.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__deck__</key>
      <dict>
        <key>__value__</key>
        <int>3</int>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__reqTypes__</key>
      <dict>
        <key>__value__</key>
        <string>SHELL,MEMBRANE,SOLID</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__info__</key>
      <dict>
        <key>__value__</key>
        <string>Checks Materials</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>Number of segments</key>
      <dict>
        <key>__value__</key>
        <string>5</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Segment of material name</key>
      <dict>
        <key>__value__</key>
        <string>5</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Type of loadcase</key>
      <dict>
        <key>__value__</key>
        <string>SK3165_+23</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Solver</key>
      <dict>
        <key>__value__</key>
        <string>PAMCRASH</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Matching list</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKODA_INCLUDE/white_list_bumpers_SK316</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Delimiter for part name</key>
      <dict>
        <key>__value__</key>
        <string>__</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
    </dict>
    <key>Check Materials with a checking list (ABA/PAM)</key>
    <dict>
      <key>__name__</key>
      <dict>
        <key>__value__</key>
        <string>Check Materials with a checking list (ABA/PAM)</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execFun__</key>
      <dict>
        <key>__value__</key>
        <string>ExecCheckMaterials</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_materials_ex_fix.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFun__</key>
      <dict>
        <key>__value__</key>
        <string>FixcCheckMaterials</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFunModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_materials_ex_fix.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__deck__</key>
      <dict>
        <key>__value__</key>
        <int>3</int>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__reqTypes__</key>
      <dict>
        <key>__value__</key>
        <string>SHELL,MEMBRANE,SOLID</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__info__</key>
      <dict>
        <key>__value__</key>
        <string>Checks Materials</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>Number of segments</key>
      <dict>
        <key>__value__</key>
        <string>5</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Segment of material name</key>
      <dict>
        <key>__value__</key>
        <string>5</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Type of loadcase</key>
      <dict>
        <key>__value__</key>
        <string>MAP_KEY</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Solver</key>
      <dict>
        <key>__value__</key>
        <string>PAMCRASH</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Matching list</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKODA_INCLUDE/white_list</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Delimiter for part name</key>
      <dict>
        <key>__value__</key>
        <string>__</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
    </dict>
    <key>Check SHELL section </key>
    <dict>
      <key>__name__</key>
      <dict>
        <key>__value__</key>
        <string>Check SHELL section </string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execFun__</key>
      <dict>
        <key>__value__</key>
        <string>ExecCheckQualityElements</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_el_ex_fix_shell_section_ABA.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFun__</key>
      <dict>
        <key>__value__</key>
        <string>FixCheckQualityElements</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFunModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_el_ex_fix_shell_section_ABA.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__deck__</key>
      <dict>
        <key>__value__</key>
        <int>4</int>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__reqTypes__</key>
      <dict>
        <key>__value__</key>
        <string>SHELL_SECTION</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__info__</key>
      <dict>
        <key>__value__</key>
        <string>Check SHELL section - reduced elements</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>optional1</key>
      <dict>
        <key>__value__</key>
        <string>R</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>type_check</key>
      <dict>
        <key>__value__</key>
        <string>SHELL_SECTION</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
    </dict>
    <key>Check CONNECTOR section Elements </key>
    <dict>
      <key>__name__</key>
      <dict>
        <key>__value__</key>
        <string>Check CONNECTOR section Elements </string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execFun__</key>
      <dict>
        <key>__value__</key>
        <string>ExecCheckQualityElements</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_el_ex_fix_connector.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFun__</key>
      <dict>
        <key>__value__</key>
        <string>FixCheckQualityElements</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFunModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_el_ex_fix_connector.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__deck__</key>
      <dict>
        <key>__value__</key>
        <int>4</int>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__reqTypes__</key>
      <dict>
        <key>__value__</key>
        <string>CONNECTOR</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__info__</key>
      <dict>
        <key>__value__</key>
        <string>Check CONNECTOR Elements - penetration</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>type_check</key>
      <dict>
        <key>__value__</key>
        <string>CONNECTOR</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
    </dict>
    <key>Check TIEDs for SKODA (PAM)</key>
    <dict>
      <key>__name__</key>
      <dict>
        <key>__value__</key>
        <string>Check TIEDs for SKODA (PAM)</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execFun__</key>
      <dict>
        <key>__value__</key>
        <string>ExecCheckTiedsSkoda</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_tied_skoda_ex_fix.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFun__</key>
      <dict>
        <key>__value__</key>
        <string>FixCheckTiedsSkoda</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFunModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_tied_skoda_ex_fix.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__deck__</key>
      <dict>
        <key>__value__</key>
        <int>3</int>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__reqTypes__</key>
      <dict>
        <key>__value__</key>
        <string>CNTAC</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__info__</key>
      <dict>
        <key>__value__</key>
        <string>Checks TIEDs</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
    </dict>
    <key>Check Materials with a checking list (ABA/PAM) - NISSAN</key>
    <dict>
      <key>__name__</key>
      <dict>
        <key>__value__</key>
        <string>Check Materials with a checking list (ABA/PAM) - NISSAN</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execFun__</key>
      <dict>
        <key>__value__</key>
        <string>ExecCheckMaterials</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_materials_ex_fix.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFun__</key>
      <dict>
        <key>__value__</key>
        <string>FixcCheckMaterials</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFunModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_materials_ex_fix.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__deck__</key>
      <dict>
        <key>__value__</key>
        <int>3</int>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__reqTypes__</key>
      <dict>
        <key>__value__</key>
        <string>SHELL,MEMBRANE,SOLID</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__info__</key>
      <dict>
        <key>__value__</key>
        <string>Checks Materials</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>Number of segments</key>
      <dict>
        <key>__value__</key>
        <string>4</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Segment of material name</key>
      <dict>
        <key>__value__</key>
        <string>2</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Type of loadcase</key>
      <dict>
        <key>__value__</key>
        <string>PV1200</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Solver</key>
      <dict>
        <key>__value__</key>
        <string>PAMCRASH</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Matching list</key>
      <dict>
        <key>__value__</key>
        <string>/data/ostatni/NISSAN/BATTERY_CASE/SCRIPTS/white_list</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Delimiter for part name</key>
      <dict>
        <key>__value__</key>
        <string>__</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
    </dict>
    <key>Check Parts for NISSAN (ABA/PAM)</key>
    <dict>
      <key>__name__</key>
      <dict>
        <key>__value__</key>
        <string>Check Parts for NISSAN (ABA/PAM)</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execFun__</key>
      <dict>
        <key>__value__</key>
        <string>ExecCheckParts</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_parts_ex_fix_nissan.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFun__</key>
      <dict>
        <key>__value__</key>
        <string>FixcCheckParts</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFunModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_parts_ex_fix_nissan.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__deck__</key>
      <dict>
        <key>__value__</key>
        <int>3</int>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__reqTypes__</key>
      <dict>
        <key>__value__</key>
        <string>SHELL,MEMBRANE,SOLID</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__info__</key>
      <dict>
        <key>__value__</key>
        <string>Checks Parts</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>Number of segments</key>
      <dict>
        <key>__value__</key>
        <string>4</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Segment of thickness name</key>
      <dict>
        <key>__value__</key>
        <string>3</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Number of digits for thickness</key>
      <dict>
        <key>__value__</key>
        <string>1</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Max. number of chars</key>
      <dict>
        <key>__value__</key>
        <string>80</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Contact thickness check</key>
      <dict>
        <key>__value__</key>
        <string>NO</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Thickness by part name check</key>
      <dict>
        <key>__value__</key>
        <string>YES</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Solver</key>
      <dict>
        <key>__value__</key>
        <string>PAMCRASH</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Delimiter for part name</key>
      <dict>
        <key>__value__</key>
        <string>__</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
    </dict>
    <key>Check RBODY Elements for NISSAN (PAM</key>
    <dict>
      <key>__name__</key>
      <dict>
        <key>__value__</key>
        <string>Check RBODY Elements for NISSAN (PAM</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execFun__</key>
      <dict>
        <key>__value__</key>
        <string>ExecCheckRBODY</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_RBODY_ex_fix.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFun__</key>
      <dict>
        <key>__value__</key>
        <string>FixCheckRBODY</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFunModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_RBODY_ex_fix.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__deck__</key>
      <dict>
        <key>__value__</key>
        <int>3</int>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__reqTypes__</key>
      <dict>
        <key>__value__</key>
        <string>GROUP</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__info__</key>
      <dict>
        <key>__value__</key>
        <string>Checks rbody Elements</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
    </dict>
    <key>Check TIEDs for NISSAN (PAM)</key>
    <dict>
      <key>__name__</key>
      <dict>
        <key>__value__</key>
        <string>Check TIEDs for NISSAN (PAM)</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execFun__</key>
      <dict>
        <key>__value__</key>
        <string>ExecCheckTieds</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_tied_ex_fix.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFun__</key>
      <dict>
        <key>__value__</key>
        <string>FixCheckTieds</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFunModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_tied_ex_fix.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__deck__</key>
      <dict>
        <key>__value__</key>
        <int>3</int>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__reqTypes__</key>
      <dict>
        <key>__value__</key>
        <string>CNTAC</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__info__</key>
      <dict>
        <key>__value__</key>
        <string>Checks TIEDs</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
    </dict>
    <key>Check ABAQUS : TIEDs </key>
    <dict>
      <key>__name__</key>
      <dict>
        <key>__value__</key>
        <string>Check ABAQUS : TIEDs </string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execFun__</key>
      <dict>
        <key>__value__</key>
        <string>ExecCheckQualityElements</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_el_ex_fix_tied_ABA.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFun__</key>
      <dict>
        <key>__value__</key>
        <string>FixCheckQualityElements</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFunModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_el_ex_fix_tied_ABA.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__deck__</key>
      <dict>
        <key>__value__</key>
        <int>4</int>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__reqTypes__</key>
      <dict>
        <key>__value__</key>
        <string>TIE</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__info__</key>
      <dict>
        <key>__value__</key>
        <string>Checks ABAQUS TIEDs</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>type_check</key>
      <dict>
        <key>__value__</key>
        <string>TIE</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>PARAM</key>
      <dict>
        <key>__value__</key>
        <string>POS_TOLER</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>DISTANCE</key>
      <dict>
        <key>__value__</key>
        <string>==5</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>TYPE_tie_coefficients</key>
      <dict>
        <key>__value__</key>
        <string>SURFACE TO SURFACE</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>ADJUST</key>
      <dict>
        <key>__value__</key>
        <string>NO</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
    </dict>
    <key>Check Materials with a checking list (ABA/PAM) - SKODA: 65</key>
    <dict>
      <key>__name__</key>
      <dict>
        <key>__value__</key>
        <string>Check Materials with a checking list (ABA/PAM) - SKODA: 65</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execFun__</key>
      <dict>
        <key>__value__</key>
        <string>ExecCheckMaterials</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_materials_ex_fix_skoda_65.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFun__</key>
      <dict>
        <key>__value__</key>
        <string>FixcCheckMaterials</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFunModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_materials_ex_fix_skoda_65.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__deck__</key>
      <dict>
        <key>__value__</key>
        <int>3</int>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__reqTypes__</key>
      <dict>
        <key>__value__</key>
        <string>SHELL,MEMBRANE,SOLID</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__info__</key>
      <dict>
        <key>__value__</key>
        <string>Checks Materials</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>Number of segments</key>
      <dict>
        <key>__value__</key>
        <string>5</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Segment of material name</key>
      <dict>
        <key>__value__</key>
        <string>5</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Type of loadcase</key>
      <dict>
        <key>__value__</key>
        <string>SK3165_+65</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Solver</key>
      <dict>
        <key>__value__</key>
        <string>PAMCRASH</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Matching list</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKODA_INCLUDE/white_list_bumpers_SK316</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Delimiter for part name</key>
      <dict>
        <key>__value__</key>
        <string>__</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
    </dict>
    <key>Check Parts by xls file</key>
    <dict>
      <key>__name__</key>
      <dict>
        <key>__value__</key>
        <string>Check Parts by xls file</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execFun__</key>
      <dict>
        <key>__value__</key>
        <string>ExecCheckParts</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_parts_excel.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFun__</key>
      <dict>
        <key>__value__</key>
        <string>FixcCheckParts</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFunModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_parts_excel.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__deck__</key>
      <dict>
        <key>__value__</key>
        <int>3</int>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__reqTypes__</key>
      <dict>
        <key>__value__</key>
        <string>SHELL,MEMBRANE,SOLID</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__info__</key>
      <dict>
        <key>__value__</key>
        <string>Checks Parts</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>Segment of part name</key>
      <dict>
        <key>__value__</key>
        <string>1</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Segment of material name</key>
      <dict>
        <key>__value__</key>
        <string>2</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Segment of thickness name</key>
      <dict>
        <key>__value__</key>
        <string>3</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Number of segments</key>
      <dict>
        <key>__value__</key>
        <string>4</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Thickness by part name check</key>
      <dict>
        <key>__value__</key>
        <string>YES</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Material by part name check</key>
      <dict>
        <key>__value__</key>
        <string>YES</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Excel sheet name</key>
      <dict>
        <key>__value__</key>
        <string>BCC18FU_Var_B_Cost</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Excel part name identifier</key>
      <dict>
        <key>__value__</key>
        <string>Component</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Excel part number name identifier</key>
      <dict>
        <key>__value__</key>
        <string>P/N</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Excel material name identifier</key>
      <dict>
        <key>__value__</key>
        <string>Material</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Excel thickness name identifier</key>
      <dict>
        <key>__value__</key>
        <string>t [mm]</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Solver</key>
      <dict>
        <key>__value__</key>
        <string>PAMCRASH</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Delimiter for part name</key>
      <dict>
        <key>__value__</key>
        <string>__</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
    </dict>
    <key>Check Quality of Elements for SKODA  (ABA/PAM)</key>
    <dict>
      <key>__name__</key>
      <dict>
        <key>__value__</key>
        <string>Check Quality of Elements for SKODA  (ABA/PAM)</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execFun__</key>
      <dict>
        <key>__value__</key>
        <string>ExecCheckQualityElementsSkoda</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_elements_skoda_ex_fix.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFun__</key>
      <dict>
        <key>__value__</key>
        <string>FixCheckQualityElementsSkoda</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFunModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_elements_skoda_ex_fix.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__deck__</key>
      <dict>
        <key>__value__</key>
        <int>3</int>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__reqTypes__</key>
      <dict>
        <key>__value__</key>
        <string>SHELL,MEMBRANE</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__info__</key>
      <dict>
        <key>__value__</key>
        <string>Checks Quality of Shell Elements</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>THICKNESS FACTOR</key>
      <dict>
        <key>__value__</key>
        <string>1.1</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>SKEW,TRIA</key>
      <dict>
        <key>__value__</key>
        <string>60.0</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>SKEW,QUAD</key>
      <dict>
        <key>__value__</key>
        <string>48.0</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Detail list for number of errors</key>
      <dict>
        <key>__value__</key>
        <string>100</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Quality mesh file</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/NAVODKY/Navodky_SKODA/batch_mesh_sessions_quality/plast_5mm/Plast_5mm.ansa_qual</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Solver</key>
      <dict>
        <key>__value__</key>
        <string>PAMCRASH</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
    </dict>
    <key>Check BEAM section Elements</key>
    <dict>
      <key>__name__</key>
      <dict>
        <key>__value__</key>
        <string>Check BEAM section Elements</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execFun__</key>
      <dict>
        <key>__value__</key>
        <string>ExecCheckQualityElements</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_el_ex_fix_beam_section_ABA.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFun__</key>
      <dict>
        <key>__value__</key>
        <string>FixCheckQualityElements</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFunModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_el_ex_fix_beam_section_ABA.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__deck__</key>
      <dict>
        <key>__value__</key>
        <int>4</int>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__reqTypes__</key>
      <dict>
        <key>__value__</key>
        <string>BEAM_SECTION</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__info__</key>
      <dict>
        <key>__value__</key>
        <string>Check BEAM Elements - hybrid elements</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>optional2</key>
      <dict>
        <key>__value__</key>
        <string>H</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>type_check</key>
      <dict>
        <key>__value__</key>
        <string>BEAM_SECTION</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
    </dict>
    <key>Check Materials with a checking list (ABA/PAM) - SKODA: -10</key>
    <dict>
      <key>__name__</key>
      <dict>
        <key>__value__</key>
        <string>Check Materials with a checking list (ABA/PAM) - SKODA: -10</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execFun__</key>
      <dict>
        <key>__value__</key>
        <string>ExecCheckMaterials</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_materials_ex_fix_skoda_m10.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFun__</key>
      <dict>
        <key>__value__</key>
        <string>FixcCheckMaterials</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFunModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_materials_ex_fix_skoda_m10.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__deck__</key>
      <dict>
        <key>__value__</key>
        <int>3</int>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__reqTypes__</key>
      <dict>
        <key>__value__</key>
        <string>SHELL,MEMBRANE,SOLID</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__info__</key>
      <dict>
        <key>__value__</key>
        <string>Checks Materials</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>Number of segments</key>
      <dict>
        <key>__value__</key>
        <string>5</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Segment of material name</key>
      <dict>
        <key>__value__</key>
        <string>5</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Type of loadcase</key>
      <dict>
        <key>__value__</key>
        <string>SK3165_-10</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Solver</key>
      <dict>
        <key>__value__</key>
        <string>PAMCRASH</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Matching list</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKODA_INCLUDE/white_list_bumpers_SK316</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Delimiter for part name</key>
      <dict>
        <key>__value__</key>
        <string>__</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
    </dict>
    <key>Check Parts for SKODA/NISSAN (ABA/PAM)</key>
    <dict>
      <key>__name__</key>
      <dict>
        <key>__value__</key>
        <string>Check Parts for SKODA/NISSAN (ABA/PAM)</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execFun__</key>
      <dict>
        <key>__value__</key>
        <string>ExecCheckParts</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_parts_ex_fix.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFun__</key>
      <dict>
        <key>__value__</key>
        <string>FixcCheckParts</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFunModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_parts_ex_fix.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__deck__</key>
      <dict>
        <key>__value__</key>
        <int>3</int>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__reqTypes__</key>
      <dict>
        <key>__value__</key>
        <string>SHELL,MEMBRANE,SOLID</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__info__</key>
      <dict>
        <key>__value__</key>
        <string>Checks Parts</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>Number of segments</key>
      <dict>
        <key>__value__</key>
        <string>5</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Segment of thickness name</key>
      <dict>
        <key>__value__</key>
        <string>2</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Number of digits for thickness</key>
      <dict>
        <key>__value__</key>
        <string>1</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Max. number of chars</key>
      <dict>
        <key>__value__</key>
        <string>80</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Contact thickness check</key>
      <dict>
        <key>__value__</key>
        <string>YES</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Thickness by part name check</key>
      <dict>
        <key>__value__</key>
        <string>YES</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Solver</key>
      <dict>
        <key>__value__</key>
        <string>PAMCRASH</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>Delimiter for part name</key>
      <dict>
        <key>__value__</key>
        <string>__</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
    </dict>
    <key>Check ABAQUS : CONTACTs</key>
    <dict>
      <key>__name__</key>
      <dict>
        <key>__value__</key>
        <string>Check ABAQUS : CONTACTs</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execFun__</key>
      <dict>
        <key>__value__</key>
        <string>ExecCheckQualityElements</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__execModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_el_ex_fix_contact_ABA.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFun__</key>
      <dict>
        <key>__value__</key>
        <string>FixCheckQualityElements</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__fixFunModule__</key>
      <dict>
        <key>__value__</key>
        <string>/data/fem/+software/SKRIPTY/tools/python/ansaTools/checks/general_check/V.0.0.3/check_el_ex_fix_contact_ABA.py</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__deck__</key>
      <dict>
        <key>__value__</key>
        <int>4</int>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__reqTypes__</key>
      <dict>
        <key>__value__</key>
        <string>CONTACT_PAIR</string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>__info__</key>
      <dict>
        <key>__value__</key>
        <string>Check ABAQUS : CONTACTs </string>
        <key>__type__</key>
        <int>1</int>
      </dict>
      <key>type_check</key>
      <dict>
        <key>__value__</key>
        <string>CONTACT_PAIR</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>INTERACTION</key>
      <dict>
        <key>__value__</key>
        <string>&gt;=1.0</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>ADJUST</key>
      <dict>
        <key>__value__</key>
        <string>POS_VAL</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>POS_VAL</key>
      <dict>
        <key>__value__</key>
        <string>&gt;=0.0</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
      <key>IF-NOT-CHECK VALUE</key>
      <dict>
        <key>__value__</key>
        <string>&gt;=0.0</string>
        <key>__type__</key>
        <int>2</int>
      </dict>
    </dict>
  </dict>
</plist>
